<div id="question_id">
  <div class="question"><%= @question.title %></div>
  <div class="snippet"><%= @question.body %></div>
  <br>
  <div class="choices"> 
    <% @answers.each_with_index do |a, i| %>
      <% if i == 0 %>
        <% letter = "A" %>
      <% elsif i == 1 %>
        <% letter = "B" %>
      <% else %>
        <% letter = "C" %>
      <% end %>
      <%= link_to question_answer_selections_path(a.question, a), method: :post, class: "choice-link" do %>
        <div class="choice answer-row">
          <%= "#{letter}" %>: &nbsp;<%= a.body %>
        </div>
      <% end %>
      <div>
        <p>
          Answer: <%= a.body %><br>
          Answer is correct? <%= a.correct %><br>
          Answer's Question ID:<%= a.question_id %><br>
        </p>
      </div>
  <% end%>
  </div>
</div>
<hr>

<h2>Question Explanation</h2>
<p><%= @question.explanation %></p>

<!--     <a class="choice-link" href="#"> <div class="choice answer-row"><span class="choice-letter">A</span> My choice is this </div></a>
    <a class="choice-link" href="#"><div class="choice answer-row"><span class="choice-letter">B</span> My choice is this </div>
    <a class="choice-link" href="#"><div class="choice answer-row"><span class="choice-letter">C</span> My choice is this </div> 
  </div>
</div>
 -->

<!-- <ol>
  <%# @answers.each_with_index do |a, i| %>
    <li>
      <h2><%#= link_to "A#{i+1}", question_answer_selections_path(a.question, a),
                          method: :post, class: "btn btn-primary" %></h2>
      Answer: <%#= a.body %><br>
      Answer is correct? <%#= a.correct %><br>
      Answer's Question ID:<%#= a.question_id %>
    </li><br>
  <%# end%>
</ol>
 -->
<%#= link_to "Prev Question", quiz_question_path(@quiz, @prev_q), class: "btn btn-md btn-info" %>
<%#= link_to "Next Question", quiz_question_path(@quiz, @next_q), class: "btn btn-md btn-info" %>