<h1>Question Title: <%= @question.title  %></h1>
Question body: <%= @question.body %>

<hr>
<ol>
  <% @answers.each_with_index do |a, i| %>
    <li>
      <h2><%= link_to "A#{i+1}", question_answer_selections_path(a.question, a),
                          method: :post, class: "btn btn-primary" %></h2>
      Answer: <%= a.body %><br>
      Answer is correct? <%= a.correct %><br>
      Answer's Question ID:<%= a.question_id %>
    </li><br>
  <% end%>
</ol>

<hr>
<h2><%= @question.explanation %></h2>


<%#= link_to "Prev Question", quiz_question_path(@quiz, q), class: "btn btn-md btn-info" %>
<%#= link_to "Next Question", quiz_question_path(@quiz, q), class: "btn btn-md btn-info" %>