<br>
<%= link_to 'Back', category_path(@quiz.category) %>
<br>

<h1>Quiz Title: <%= @quiz.title %></h1><br>
<p>Quiz Body: <%= @quiz.body %></p><br>
<p>Quiz Level: <%= @quiz.level %></p><br>
<p>Quiz Category: <%= @category.title %></p><br>

<%#= link_to 'My quizzes', quizzes_path %>
  <% if current_user.admin %>
    <p>
      <%= link_to 'Edit Quiz', edit_quiz_path(@quiz), class: "btn btn-warning btn-sm" %>
      <%= link_to 'Delete Quiz', quiz_path(@quiz), method: :delete, data: {confirm: "you sure?"}, class: "btn btn-danger btn-sm" %>
    </p>
    <p>
      <%= link_to "Add or Edit Questions and Answers", quiz_questions_path(@quiz), class: "btn btn-primary btn-sm" %>
    </p>
  <% end %>
<hr>

<% if 10 == 9 %><!-- Just to hide below Content -->
<!--
<% if current_user.admin %>
  <% @questions.each do |q| %>
    <h3>Question Title: <%= q.title %></h3>
    <p>Question Body: <%= q.body %></p><br>

      <%= form_for q, url: quiz_path(@quiz), method: :update do |f| %>
        <% q.answers.each do |a| %>
          Answer Body: 
          <%= f.radio_button(:id, a.id) %>
          <%= f.label(:body, a.body ) %><br>
        <%end%>
        <%= f.submit :value => "submit answer" %>
      <% end %>

    <hr>
  <% end %>
<% end %>
-->
<% end %>

<ul>
  <% @questions.each do |q| %>
    <li><%= link_to q.title, quiz_question_path(@quiz, q) %></li>
  <% end %>
</ul>

<% if 10 == 9 %><!-- Just to hide below Content -->
<!--
<div class="container">

  <div class="question-wrap">
  <div class="col-sm-3 quiz-sidebar">
    <div class="category-logo">
      <%= image_tag "images/JS_logo.gif", height: 120, width: 120 %>
    </div>
    <div class="quiz-level">
       
        <% if @quiz.level == 1 %>
          Apprentice
        <% end %>

       <% if @quiz.level == 2 %>
          Adept
       <% end %>
       
       <% if @quiz.level == 3 %>
        Code Wizard
       <% end %>
    </div>

    <div class="quiz-points">80</div>
    <div class="quiz-progress">50/100</div>


  </div>
  <div class="col-sm-1">
    <div class="vertical-rule">&nbsp;</div>
  </div>
  <!--- question area -->
  <div class="col-sm-7">
    - display current question progress 
    <div class="question-current">
        Javascript Level 3 (8/10)

    </div>
    <!--- display full question data --->
    <div id="question_id">
      <div class="question">What's your name? </div>
      
      <div class="snippet"> Code goes here </div>
      
      <div class="choices"> 
      <a class="choice-link" href="#"> <div class="choice answer-row"><span class="choice-letter">A</span> My choice is this </div></a>
        <a class="choice-link" href="#"><div class="choice answer-row"><span class="choice-letter">B</span> My choice is this </div>
        <a class="choice-link" href="#"><div class="choice answer-row"><span class="choice-letter">C</span> My choice is this </div> 
      </div>

    </div>

  </div>


</div>
</div>
-->
<% end %>





