<div class="parallax-window" data-parallax="scroll" data-image-src="<%= asset_path 'features.jpg' %>">
  <div class="home-container">
    <div class="logo-container">
      <center>
        <h1>Are you a Codecore wizard?</h1>
        <h3>
        <%= link_to("Learn More...", root_path(:anchor => "section_two")) %>
        |
        <%= link_to("Get started...", root_path(:anchor => "#")) %>
        <%#= link_to 'My Quizzes', controller: 'quizzes' %>
        </h3>
      </center>
    </div>
  </div>
<!--   <div id="footer">
    <center><h3>THIS IS A FOOTER</h3></center>
  </div> -->
</div>


<div id="section_two" class="parallax-window" data-parallax="scroll">
  <div class="solid-container row">
    <div class="container anchor-margin">
      <h2>Information about the languages we test</h2>
      <center>
        <div class="col-sm-3">
          <%= image_tag "images/HTML_logo.gif" %>
          <p>Test yourself on HTML. Every webpage you look at is written in a language called HTML. You can think of HTML as the skeleton that gives every webpage structure. </p>
        </div>
        <div class="col-sm-3">
          <%= image_tag "images/CSS_logo.gif" %>
          <p>CSS or (Cascading Style Sheets) is a programming language used to describe the visual look of a web page. Test yourself on adding styles and other ways to make your site stand out.</p>
        </div>
        <div class="col-sm-3">
          <%= image_tag "images/RB_logo.gif" %>
          <p>Ruby is a powerful, flexible programming language you can use in web/Internet development, to process text, to create games, and as part of the popular Ruby on Rails web framework.</p>
        </div>
        <div class="col-sm-3">
          <%= image_tag "images/JS_logo.gif" %>
          <p>JavaScript is the most popular programming language in the world and is what drives the interactivity of websites. Have you heard of terms such as the DOM, jQuery, if so, test yourself on what you know</p>
        </div>
      </center>
    </div>
  </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="<%= asset_path 'features3.jpg' %>">
  <div class="section-container">
    <div class="container anchor-margin">
      <center>
        <div id="section_three" class="row">   
          <img class="col-xs-12" src="http://placehold.it/900x300">
        </div>
      </center>
    </div>
  </div>
</div>

<div class="parallax-window" data-parallax="scroll">
  <div class="section-container-2">
    <div class="container anchor-margin">
      <center>
        <div id="section_four" class="row">

        <!-- start of carousel -->

        <div class="carousel-container">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <%= image_tag "review1.jpg", class: "carousel-image" %>
                  <div class="carousel-caption">
                    <p class="carousel-text">Brent: "With Q's fundamentals constantly testing me, I can be sure I'll always be on top of the basics."</p>
                  </div>
                </div>
                <div class="item">
                  <%= image_tag "review2.jpg", class: "carousel-image" %>
                  <div class="carousel-caption">
                    <p class="carousel-text">TK: "I am at a loss for words."</p>
                  </div>
                </div>
                <div class="item">
                  <%= image_tag "review3.jpg", class: "carousel-image" %>
                  <div class="carousel-caption">
                    <p class="carousel-text">Mitch: "JavaScript, DOM, JavaScript, DOM, Wrapped Set</p>
                  </div>
                </div>
                <div class="item">
                  <%= image_tag "review4.jpg", class: "carousel-image" %>
                  <div class="carousel-caption">
                    <p class="carousel-text">Drew: "I know two things, programming and beards. This site gave me both!"</p>
                  </div>
                </div>

                Testimonials
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <!-- end of carousel -->
          </div>
        </div>

      </center>
    </div>
  </div>
</div>