<h1> Add an answer </h1> 

<%= form_for :answer, url: question_answers_path(@question) do |f| %>

  <%= f.label :body %>
  <%= f.text_area :body %> 

  <%= f.label :correct %>
  <%= f.text_field :correct %>  
  <!-- make above boolean -->
  <%# f.label :question_id %>
   


  <%= f.submit %> 

<% end %>